.actions-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
}

.actions-container > * {
  flex-grow: 1;
}

input:disabled {
  opacity: 0.5;
}

.input-container {
  text-align: center;
}