.actions-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
}

button {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid #08befa;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: #08befa;
  color: white;
}

button:active {
  transform: scale(0.95);
}

button:disabled,
button[disabled] {
  opacity: 0.5;
}

input:disabled {
  opacity: 0.5;
}
